<!-- 引入kindEditor插件 -->
<link href="../../public/kindeditor-4.1.7/themes/default/default.css" rel="stylesheet" type="text/css" charset="utf-8"/>
<script src="../../public/kindeditor-4.1.7/kindeditor-all-min.js" type="text/javascript"  charset="utf-8"></script>
<script charset="utf-8" src="../../public/kindeditor-4.1.7/lang/zh_CN.js"></script>

<script type="text/javascript">
    var editor;
    $(function() {
        window.setTimeout(function() {
            editor = KindEditor.create('#note', {
                width : '680px',
                height : '300px',
                items : [ 'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste', 'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript', 'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak', 'anchor', 'link', 'unlink' ],
                uploadJson : 'archivesaction/fileupload',
                fileManagerJson : 'archivesaction/fileManage',
                allowFileManager : true
            });

            parent.$.messager.progress('close');
        }, 1);

        $('#form').form({
            url : 'archivesaction/archivesedit',
            onSubmit : function() {
                var filename = document.getElementById("file").value;
                $('#filename').val(filename);
                editor.sync();
                parent.$.messager.progress({
                    title : '提示',
                    text : '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success : function(result) {
                parent.$.messager.progress('close');
                if (result) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                    parent.$.modalDialog.handler.dialog('close');
                    parent.$.messager.alert('结果',result);
                } else {
                    parent.$.messager.alert('错误', result, 'error');
                }
            }
        });

        $('#nominated').combobox({
            method:'GET',
            url:'/combobox_nominated',
            valueField:'id',
            textField:'text'
        });

        $('#filetype').combobox({
            method:'GET',
            url:'/combobox_filetype',
            valueField:'id',
            textField:'text'
        });

        $('#referenceno').combobox({
            method:'GET',
            url:'/combobox_referenceno',
            valueField:'id',
            textField:'text'
        });

        $('#securitylevel').combobox({
            method:'GET',
            url:'/combobox_securitylevel',
            valueField:'id',
            textField:'text'
        });

        $('#storagelife').combobox({
            method:'GET',
            url:'/combobox_storagelife',
            valueField:'id',
            textField:'text'
        });

        $('#degree').combobox({
            method:'GET',
            url:'/combobox_degree',
            valueField:'id',
            textField:'text'
        });
    });

</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="">
        <form id="form" method="post" enctype="multipart/form-data">
            <table class="table table-hover table-condensed" style="padding-top: 5px;">
                <tr >
                    <th>档案类别</th>
                    <td><input name="arc.archivetype" type="text" class="span2" value="${archive.archivetype}" ></td>
                    <th>类  别  号</th>
                    <td><input name="arc.fnsorttable" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.fnsorttable}"></td>
                </tr>
                <tr>
                    <th>案卷提名</th>
                    <td><input id="nominated" name="arc.nominated" type="text" value="${archive.nominated}"  class="easyui-combobox"></td>
                    <th>归  档  号</th>
                    <td><input id="fileno" name="arc.fileno" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.fileno}"></td>
                </tr>
                <tr >
                    <th>题&nbsp;&nbsp;&nbsp;&nbsp;名</th>
                    <td><input name="arc.title" type="text" class="easyui-validatebox span2" value="${archive.title}" data-options="required:true"></td>
                    <th>文件类型</th>
                    <td><input id="filetype" name="arc.filetype" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.filetype}"></td>
                </tr>
                <tr >
                    <th>摆放位置</th>
                    <td><input name="arc.positioned" type="text" class="easyui-validatebox span2 " value="${archive.positioned}" ></td>
                    <th>盒&nbsp;&nbsp;&nbsp;&nbsp;号</th>
                    <td><input name="arc.boxno" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.boxno}"></td>
                </tr>
                <tr >
                    <th>副  标  题</th>
                    <td><input name="arc.subheading" type="text" class="span2" value="${archive.subheading}" ></td>
                </tr>
                <tr>
                    <th>关  键  词</th>
                    <td><input name="arc.keyword" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.keyword}"></td>
                </tr>
                <tr>
                    <th>文&nbsp;&nbsp;&nbsp;&nbsp;号</th>
                    <td><input id="referenceno" name="arc.referenceno" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.referenceno}"></td>
                </tr>
                <tr>
                    <th>责  任  者</th>
                    <td><input id="author" name="arc.author" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.author}"></td>
                </tr>
                <tr>
                    <th>密&nbsp;&nbsp;&nbsp;&nbsp;级</th>
                    <td><input id="securitylevel" name="arc.securitylevel" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.securitylevel}"></td>
                </tr>
                <tr>
                    <th>保存期限</th>
                    <td><input id="storagelife" name="arc.storagelife" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.storagelife}"></td>
                </tr>
                <tr>
                    <th>紧急程度</th>
                    <td><input id="degree" name="arc.degree" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.degree}"></td>
                </tr>
                <tr>
                    <th>页&nbsp;&nbsp;&nbsp;&nbsp;数</th>
                    <td colspan="3"><input name="arc.page" style="width: 250px;" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.page}"></td>
                </tr>
                <tr>
                    <th>来文单位</th>
                    <td colspan="3"><input name="arc.senddepartment" style="width: 250px;" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.senddepartment}"></td>
                </tr>
                <tr>
                    <th>发文单位</th>
                    <td colspan="3"><input name="arc.dispatchdepartment" style="width: 250px;" type="text" placeholder="" class="easyui-validatebox span2"  value="${archive.dispatchdepartment}"></td>
                </tr>
                <tr>
                    <th>备&nbsp;&nbsp;&nbsp;&nbsp;注</th>
                    <td colspan="3"><textarea name="arc.notes" id="note" cols="50" rows="5" style="visibility: hidden;">${archive.notes}</textarea></td>
                </tr>
                <tr>
                    <th>附件添加</th>
                    <td colspan="2"><input id="file" name="arc.file" type="file" class="easyui-validatebox span2" value=""></td>
                    <td><input id="filename" name="arc.filename" type="text" class="easyui-validatebox span2" style="visibility:hidden" value=""></td>
                </tr>
                #{if archive.filename}
                    <tr>
                        <th>附件下载</th>
                        <td><a href="@{filedownload(archive.id)}">${archive.filename}</a></td>
                    </tr>
                #{/if}
            </table>
        </form>
    </div>
</div>