<script type="text/javascript">
    $(function() {
        parent.$.messager.progress('close');
        $('#form').form({
            url : '/useraction/employeeadd',
            onSubmit : function() {
                console.info($("#pwd").val());
                parent.$.messager.progress({
                    title : '提示',
                    text : '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success : function(result) {
                parent.$.messager.progress('close');
//                result = $.parseJSON(result);
                if (result) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象
                    parent.$.modalDialog.handler.dialog('close');
                    parent.$.messager.alert('修改成功', result, 'success');
                } else {
                    parent.$.messager.alert('错误', result, 'error');
                }
            }
        });
        //conboboc
        $('#sex').combobox({
            method:'GET',
            url:'/combobox',
            valueField:'id',
            textField:'text'
        });

        $('#householdnature').combobox({
            method:'GET',
            url:'/combobox_householdnature',
            valueField:'id',
            textField:'text'
        });

        $('#maritalstatus').combobox({
            method:'GET',
            url:'/combobox_maritalstatus',
            valueField:'id',
            textField:'text'
        });

        $('#IDype').combobox({
            method:'GET',
            url:'/combobox_IDype',
            valueField:'id',
            textField:'text'
        });

        $('#politicsstatus').combobox({
            method:'GET',
            url:'/combobox_politicsstatus',
            valueField:'id',
            textField:'text'
        });

        $('#healthcondition').combobox({
            method:'GET',
            url:'/combobox_healthcondition',
            valueField:'id',
            textField:'text'
        });

        $('#highestdegree').combobox({
            method:'GET',
            url:'/combobox_highestdegree',
            valueField:'id',
            textField:'text'
        });

        $('#highestdiploma').combobox({
            method:'GET',
            url:'/combobox_highestdiploma',
            valueField:'id',
            textField:'text'
        });

        $('#professionaltitle').combobox({
            method:'GET',
            url:'/combobox_professionaltitle',
            valueField:'id',
            textField:'text'
        });

        $('#employeestatus').combobox({
            method:'GET',
            url:'/combobox_employeestatus',
            valueField:'id',
            textField:'text'
        });

        $('#employeesstate').combobox({
            method:'GET',
            url:'/combobox_employeesstate',
            valueField:'id',
            textField:'text'
        });

        $('#employeetype').combobox({
            method:'GET',
            url:'/combobox_employeetype',
            valueField:'id',
            textField:'text'
        });
    });

    // $("input[name='id']").val(getCookie('ob_id'));
    var orgname=null;
    var orgnameid=$('#orgname').combobox({
//            method:'GET',
//            url:'/combobox',
        url:'@{DepartmentAction.organizationcombobox()}',
        valueField:'orgname',
        textField:'orgname',
        value:"",
        onSelect:function(record){
            //刷新数据，重新读取机构下的部门
            orgname=record.orgname;
            departmentid.combobox({
                disabled:false,
                url:'/positionaction/deparmentcombobox?orgname='+record.orgname,
                valueField:'departmentname',
                textField:'departmentname'
            }).combobox('clear');
            departmentnameid.combobox({}).combobox('clear');
        }
    });

    var departmentid=$('#department').combobox({
////            method:'GET',
////            url:'/combobox',
//        url:'/positionaction/deparmentallcombobox',
//        valueField:'departmentname',
//        textField:'departmentname',
//        value:"",
        onSelect:function(record){
            //刷新数据，重新读取机构下的部门
            departmentnameid.combobox({
                disabled:false,
                url:'/positionaction/deparmentnamecombobox?departments='+record.departmentname+'&orgname='+orgname,
                valueField:'departmentname',
                textField:'departmentname'
            }).combobox('clear');
        }
    });

    var departmentnameid=$('#departmentname').combobox({});
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" >
        <form id="form" method="post">
            <fieldset>
                <legend>登录信息</legend>
                <table class="table table-hover table-condensed" style="width: 100%;display: inline-block;float: left;">
                    <tr>
                        <th>用户名&nbsp;&nbsp;</th>
                        <td><input name="name" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                        <th>密码&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td ><input name="password" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                    </tr>
                 </table>
            </fieldset>
            <fieldset>
                <legend>基本信息</legend>
                    <table class="table table-hover table-condensed" style="width: 70%;display: inline-block;float: left;">
                        <tr>
                            <th>姓名</th>
                            <td><input name="truename" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                            <th >证件号码</th>
                            <td ><input name="IDnumber" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                        </tr>
                        <tr >
                            <th>籍贯</th>
                            <td><input name="nativeplace" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                            <th>档案编号</th>
                            <td><input name="filenumber" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>用户帐号</th>
                            <td><input name="useraccount" type="text" value=""  class="easyui-validatebox span2" ></td>
                            <th>员工编号</th>
                            <td><input name="employeeid" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>工资卡号</th>
                            <td><input name="wagenumber" type="text" value=""  class="easyui-validatebox span2" ></td>
                            <th>社保号</th>
                            <td><input name="securityno" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>性别</th>
                            <td><input id="sex" name="sex" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>出生日期</th>
                            <td><input id="birthday" name="birthday" type="text" value=""  class="easyui-datebox" ></td>
                        </tr>
                        <tr>
                            <th>年龄</th>
                            <td><input name="age" type="text" value=""  class="easyui-validatebox span2" ></td>
                            <th>出生地</th>
                            <td><input name="birthplace" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>民族</th>
                            <td><input name="nation" type="text" value=""  class="easyui-validatebox span2" ></td>
                            <th>户口</th>
                            <td><input name="household" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>户口性质</th>
                            <td><input id="householdnature" name="householdnature" type="text" value="--请选择--"  class="easyui-combobox"></td>
                            <th>婚姻状况</th>
                            <td><input id="maritalstatus" name="maritalstatus" type="text" value="--请选择--"  class="easyui-combobox"  ></td>
                        </tr>
                        <tr>
                            <th>员工身份</th>
                            <td><input id="employeestatus" name="employeestatus" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>国籍</th>
                            <td><input name="nationality" type="text" value=""  class="easyui-validatebox span2" ></td>
                        </tr>
                        <tr>
                            <th>证件类型</th>
                            <td><input id="IDype" name="IDype" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>政治面貌</th>
                            <td><input id="politicsstatus" name="politicsstatus" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                        </tr>
                        <tr>
                            <th>健康状况</th>
                            <td><input id="healthcondition" name="healthcondition" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>最高学位</th>
                            <td><input id="highestdiploma" name="highestdiploma" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                        </tr>
                        <tr>
                            <th>最高学历</th>
                            <td><input id="highestdegree" name="highestdegree" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>专业</th>
                            <td><input name="specialty" type="text" value=""  class="easyui-validatebox span2"></td>
                        </tr>
                        <tr>
                            <th>职称</th>
                            <td><input id="professionaltitle" name="professionaltitle" type="text" value="--请选择--"  class="easyui-combobox" ></td>
                            <th>毕业院校</th>
                            <td><input name="school" type="text" value=""  class="easyui-validatebox span2"></td>
                        </tr>
                        <tr>
                            <th>创建人</th>
                            <td><input name="usercreate" type="text" value=""  class="easyui-validatebox span2" readonly="readonly"></td>
                            <th>创建时间</th>
                            <td><input name="userdate" type="text" value=""  class="easyui-validatebox span2" readonly="readonly"></td>
                        </tr>
                    </table>
                *{<div style="display: inline-block;float: left;width: 10px;margin-left: -10px;">}*
                *{<table class="table table-hover table-condensed">}*
                    *{<tr><td><img src="../../public/images/no_pic.gif" style=""></td></tr>}*
                    *{<tr><td><input type="file" name="photo"></td></tr>}*
                *{</table>}*
                *{</div>}*

            </fieldset>
            <fieldset>
                <legend>职位信息</legend>
                <table class="table table-hover table-condensed" style="width: 100%;display: inline-block;float: left;">
                    <tr>
                        <th>员工状态</th>
                        <td><input id="employeesstate" name="employeesstate" type="text"  class="easyui-combobox" data-options="required:true"></td>
                        <th >员工类型</th>
                        <td ><input id="employeetype" name="employeetype" type="text" value=""  class="easyui-combobox" data-options="required:true" ></td>
                        <th >入职时间</th>
                        <td ><input name="hiredate" type="text" value=""  class="easyui-datebox" data-options="required:true"></td>
                    </tr>
                    <tr>
                        <th>所在机构</th>
                        <td><input id="orgname" name="orgname" type="text" value=""  class="easyui-combobox" data-options="required:true"></td>
                        <th>所在部门</th>
                        <td><input id="department" name="department" type="text" value=""  class="easyui-combobox" data-options="required:true"></td>
                        <th>职位</th>
                        <td><input id="departmentname" name="departmentname" type="text" value=""  class="easyui-combobox" data-options="required:true"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend>联系方式</legend>
                <table class="table table-hover table-condensed" style="width: 100%;display: inline-block;float: left;">
                    <tr>
                        <th>家庭地址</th>
                        <td><input name="homeaddress" type="text" value=""  class="easyui-validatebox span2" ></td>
                        <th >邮编</th>
                        <td ><input name="postcode" type="text" value=""  class="easyui-validatebox span2" ></td>
                        <th>住宅电话</th>
                        <td><input name="homephone" type="text" value=""  class="easyui-validatebox span2" ></td>
                    </tr>
                    <tr>
                        <th>电子邮箱</th>
                        <td><input name="email" type="text" value=""  class="easyui-validatebox span2" ></td>
                        <th >其他联系</th>
                        <td ><input name="otherphone" type="text" value=""  class="easyui-validatebox span2" ></td>
                        <th >手机号码</th>
                        <td ><input name="mobile" type="text" value=""  class="easyui-validatebox span2" ></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>