<script type="text/javascript">
    $(function() {
        parent.$.messager.progress('close');
        $('#form').form({
            url : 'permissionaction/permissionadd',
            onSubmit : function() {
                console.info($("#pwd").val());
                parent.$.messager.progress({
                    title : '提示',
                    text : '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success : function(result) {
                parent.$.messager.progress('close');
//                result = $.parseJSON(result);
                if (result) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象
                    parent.$.modalDialog.handler.dialog('close');
                    parent.$.messager.alert('修改成功', result, 'success');
                } else {
                    parent.$.messager.alert('错误', result, 'error');
                }
            }
        });

        $('#managerpeople').combobox({
            url:'@{permissionaction.usercombobox()}',
            valueField:'truename',
            textField:'truename',
            multiple:true
        });

        $('#excludepeople').combobox({
            url:'@{permissionaction.usercombobox()}',
            valueField:'truename',
            textField:'truename',
            multiple:true
        });

        $('#loa').combobox({
            url:'@{permissionaction.orgcombobox()}',
            valueField:'orgname',
            textField:'orgname',
            multiple:true
        });
    });

    // $("input[name='id']").val(getCookie('ob_id'));

</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <form id="form" method="post">
            <table style="padding-left:5px">
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>授权范围机构</th>
                    <td><input style="width: 200px;" id="loa" name="loa" ></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>管理人员</th>
                    <td><input  style="width: 200px;" id="managerpeople" name="managerpeople" ></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>排除人员</th>
                    <td><input style="width: 200px;"  id="excludepeople" name="excludepeople" ></td>
                </tr>
            </table>
        </form>
    </div>
</div>