<script type="text/javascript">
    $(function() {
        parent.$.messager.progress('close');
        $('#form').form({
            url : '/departmentaction/departmentadd',
            onSubmit : function() {
                parent.$.messager.progress({
                    title : '提示',
                    text : '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success : function(result) {
                parent.$.messager.progress('close');
//                result = $.parseJSON(result);
                if (result) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象
                    parent.$.modalDialog.handler.dialog('close');
                    parent.$.messager.alert('修改成功', result, 'success');
                } else {
                    parent.$.messager.alert('错误', result, 'error');
                }
            }
        });

        $('#orgname').combobox({
//            method:'GET',
//            url:'/combobox',
            url:'@{DepartmentAction.organizationcombobox()}',
            valueField:'orgname',
            textField:'orgname'
        });

        $("#parentdepartment").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
//            value:"授权",
            data: [{
                id: '总经办',
                value: '总经办'
            },{
                id: '行政办公室',
                value: '行政办公室'
            },{
                id: '信息中心',
                value: '信息中心'
            },{
                id: '人力资源部',
                value: '人力资源部'
            },{
                id: '人才招聘',
                value: '人才招聘'
            },{
                id: '人事管理',
                value: '人事管理'
            },{
                id: '人事考勤',
                value: '人事考勤'
            },{
                id: '薪酬福利',
                value: '薪酬福利'
            },{
                id: '人事绩效',
                value: '人事绩效'
            },{
                id: '市场策划部',
                value: '市场策划部'
            },{
                id: '销售部',
                value: '销售部'
            },{
                id: '渠道部',
                value: '渠道部'
            },{
                id: '采购部',
                value: '采购部'
            },{
                id: '仓库部',
                value: '仓库部'
            },{
                id: '服务部',
                value: '服务部'
            },{
                id: '客服部',
                value: '客服部'
            },{
                id: '设计部',
                value: '设计部'
            },{
                id: '研发中心',
                value: '研发中心'
            },{
                id: '项目部',
                value: '项目部'
            },{
                id: '质控部',
                value: '质控部'
            },{
                id: '财务部',
                value: '财务部'
            },{
                id: '开发部',
                value: '开发部'
            }]
        });
    });

    // $("input[name='id']").val(getCookie('ob_id'));

</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <form id="form" method="post">
            <table style="padding-top: 10px;padding-left:5px" class="table table-hover table-condensed">
                <tr>
                    <th >所属机构</th>
                    <td><input id="orgname" name="orgname" type="text" value=""  class="easyui-validatebox span2"></td>
                    <th >上级部门</th>
                    <td><input id="parentdepartment" name="parentdepartment" class="easyui-validatebox span2" class="combo"></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>部门名字</th>
                    <td><input id="departmentname" type="text" name="departmentname"  class="easyui-validatebox span2" data-options="required:true"></td>
                    <th>办公电话</th>
                    <td><input id="phone" name="phone" class="easyui-validatebox span2"></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>传真号码</th>
                    <td><input id="fax" name="fax" class="easyui-validatebox span2"></td>
                    <th>地址</th>
                    <td><input id="address" name="address" class="easyui-validatebox span2"></td>
                </tr>
            </table>
            <table style="padding-left:5px">
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>部门职责</th>
                    <td ><textarea style="width: 370px; height: 60px;" id="responsibility" name="responsibility" ></textarea></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>年度目标</th>
                    <td><textarea  style="width: 370px; height: 60px;" id="annualobjectives" name="annualobjectives" ></textarea></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>任务计划</th>
                    <td><textarea  style="width: 370px; height: 60px;" name="planning" ></textarea></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>简介</th>
                    <td ><textarea  style="width: 370px; height: 60px;" id="info" name="info" ></textarea></td>
                </tr>
            </table>
        </form>
    </div>
</div>