<!DOCTYPE html>
<html>
<head>
    <script src="../../public/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
*{<script src="../../public/jquery-easyui-1.3.5/jquery.min.js" type="text/javascript"></script>}*
    <script src="../../public/jquery-easyui-1.3.5/jquery.easyui.min.js" type="text/javascript"></script>

    <script src="../../public/jquery-easyui-1.3.5/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>

    <link href="../../public/jquery-easyui-1.3.5/themes/icon.css" rel="stylesheet" type="text/css"/>
    <link href="../../public/jquery-easyui-1.3.5/themes/default/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="../../public/stylesheets/extEasyUIIcon.css" rel="stylesheet" type="text/css"/>
    <script src="../../public/javascripts/jquery.format.js" type="text/javascript"></script>

    <script src="../../public/javascripts/extEasyUI.js" type="text/javascript"></script>

    <script type="text/javascript">
        $.canEditPwd = true;
    </script>
    <script typr="text/javascript" charset="utf-8">
        var dataGrid;
        $(function(){
            dataGrid= $('#org_datagrid').datagrid({
                url:'@{OrganizationAction.select()}',
//            title:'dategrid',
//            iconCls:'icon-save',
                pagination:true,
                pageSize:10,
                pageList:[10,20,30,40,50,60],
                fit:true,//自适应大小
                fitColumns:true, //滚动条
                nowrap:false,//折行
                border:false,//取消边框
                idField:'id',//换页记住标识
                sortName:'id',
                sortOrder:'desc',
                columns:[ [{
                    title: '机构简称',
                    field: 'orgabbreviation',
                    width: 100,
                    sortable:true
                },{
                    title: '机构名称',
                    field: 'orgname',
                    width: 100,
                    sortable:true
                },{
                    title: '办公电话',
                    field: 'phone',
                    width: 100,
                    sortable:true
                },{
                    title: '邮政编码',
                    field: 'postcode',
                    width: 100,
                    sortable:true
                },{
                    title: '网址',
                    field: 'web',
                    width: 100,
                    sortable:true
                }, {
                    field : 'action',
                    title : '操作',
                    width : 220,
                    formatter : function(value, row, index) {
                        return '<button onclick="check('+index+')">查看修改</button><button onclick="deleteFun('+index+')">删除</button>'
                    }
                }] ],//多级表头控制
                toolbar:'#toolbar'
            });
        });

        function show(id){
            var rows= dataGrid.datagrid('getRows');

            console.info(rows[id].id);
        }

        function check(id) {
            var rows= dataGrid.datagrid('getRows');
            dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
            parent.$.modalDialog({
                title : '查看机构信息',
                width :  390,
                height : 300,
                href :  'application/organizationcheck?id='+rows[id].id,
                buttons : [ {
                    text : '提交',
                    handler : function(){
                        parent.$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
                        var f = parent.$.modalDialog.handler.find('#form');
                        f.submit();
                    }
                }]
            });
        }

        function addFun() {
            parent.$.modalDialog({
                title : '添加机构',
                width :300,
                height :300,
                href : '@{organizationadd()}',
                buttons : [ {
                    text : '添加',
                    handler : function() {
                        parent.$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
                        var f = parent.$.modalDialog.handler.find('#form');
                        f.submit();
                    }
                } ]
            });
        }

        function deleteFun(id) {
            var rows= dataGrid.datagrid('getRows');
            if (id == undefined) {//点击右键菜单才会触发这个
                rows = dataGrid.datagrid('getSelections');
                id = rows[0].id;
            } else {//点击操作里面的删除图标会触发这个
                dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
                id = rows[id].id;
            }
            parent.$.messager.confirm('询问', '您是否要删除当前机构？', function(b) {
                if (b) {
                    var currentUserId = '123111111';/*当前登录用户的ID*/
                    if (currentUserId != id) {
                        parent.$.messager.progress({
                            title : '提示',
                            text : '数据处理中，请稍后....'
                        });
                        $.post('organizationaction/organizatiodelete', {
                            id : id
                        }, function(result) {
                            if (result) {
                                parent.$.messager.alert('提示', result, 'info');
                                dataGrid.datagrid('reload');
                            }
                            parent.$.messager.progress('close');
                        });
                    } else {
                        parent.$.messager.show({
                            title : '提示',
                            msg : '不可以删除自己！'
                        });
                    }
                }
            });
        }
        //    function searchFun() {
        //        dataGrid.datagrid('load', $.serializeObject($('#searchForm')));
        //    }
        //    function cleanFun() {
        //    $('#searchForm input').val('');
        //        dataGrid.datagrid('load', {});
        //    }
    </script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',fit:true,border:false">
        <table id="org_datagrid"></table>
    </div>
</div>
<div id="toolbar" style="display: none;">
    <a onclick="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">添加</a>
    *{<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" onclick="searchFun();">过滤条件</a>}*
</div>
</body>
</html>

