<!DOCTYPE html>
<html>
<head>
<!-- 扩展setcookies -->
<script src="../../public/javascripts/ob_id.js" type="text/javascript"></script>
<!-- 引入jQuery -->
<script src="../../public/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
*{<script src="../../public/jquery-easyui-1.3.5/jquery.min.js" type="text/javascript"></script>}*
<script src="../../public/jquery-easyui-1.3.5/jquery.easyui.min.js" type="text/javascript"></script>

<script src="../../public/jquery-easyui-1.3.5/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>

<link href="../../public/jquery-easyui-1.3.5/themes/icon.css" rel="stylesheet" type="text/css"/>
<link href="../../public/jquery-easyui-1.3.5/themes/default/easyui.css" rel="stylesheet" type="text/css"/>
<link href="../../public/stylesheets/extEasyUIIcon.css" rel="stylesheet" type="text/css"/>
<script src="../../public/javascripts/jquery.format.js" type="text/javascript"></script>

<!-- 扩展EasyUI --><!-- 扩展jQuery -->
<script src="../../public/javascripts/extEasyUI.js" type="text/javascript"></script>
<script src="../../public/javascripts/extJquery.js" type="text/javascript"></script>


<script type="text/javascript">
    $.canEditPwd = true;
</script>
<script typr="text/javascript" charset="utf-8">
    var dataGrid;
    $(function(){
        dataGrid= $('#archiver_datagrid').datagrid({
            url:'@{PersonalAction.select()}',
            checkOnSelect : false,
            selectOnCheck : false,
            pagination:true,
            pageSize:10,
            pageList:[10,20,30,40,50,60],
            fit:true,//自适应大小
            fitColumns:true, //滚动条
            nowrap:false,//折行
            border:false,//取消边框
            idField:'id',//换页记住标识
            sortName:'id',
            sortOrder:'desc',
            columns:[ [{
                title: '标题',
                field: 'ptitle',
                width: 100,
                sortable:true
            },{
                title: '关键字',
                field: 'keyword',
                width: 100,
                sortable:true
            },{
                title: '附件',
                field: 'filename',
                width: 100,
                sortable:true
            },{
                title: '发件人',
                field: 'sender',
                width: 100,
                sortable:true
            },{
                title: '创建时间',
                field: 'createdater',
                width: 100,
                sortable:true,
                formatter : function(v) {
                    var date = new Date(v).formatStr();
                    return date;
                }
            },{
                field : 'action',
                title : '操作',
                width : 220,
                formatter : function(value, row, index) {
                    return '<button onclick="editFun('+index+')">查看</button><button onclick="replyFun('+index+')">回复</button><button onclick="deleteFun('+index+')">删除</button>'
                }
            }] ],//多级表头控制
            toolbar:'#toolbar'
        });
    });

    function editFun(id) {
        var rows= dataGrid.datagrid('getRows');
        dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
        parent.$.modalDialog({
            title : '编辑档案',
            width : 800,
            height : 600,
            href : 'application/receivefilesedit?id='+rows[id].id,
            buttons : [ {
//                text : '提交',
//                handler : function(){
//                    parent.$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
//                    var f = parent.$.modalDialog.handler.find('#form');
//                    f.submit();
//                }
//            }, {
                text : '关闭',
                handler : function() {
                    parent.$.modalDialog.handler.dialog('close');
                }
            }]
        });
    };

    function replyFun(id) {
        var rows= dataGrid.datagrid('getRows');
        dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
        parent.$.modalDialog({
            title : '回复文件',
            width : 800,
            height : 600,
            href : 'application/receivefilesreply?id='+rows[id].id,
            buttons : [ {
                text : '发送',
                handler : function(){
                    parent.$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
                    var f = parent.$.modalDialog.handler.find('#form');
                    f.submit();
                }
            }, {
                text : '关闭',
                handler : function() {
                    parent.$.modalDialog.handler.dialog('close');
                }
            }]
        });
    };

    function addFun() {
        parent.$.modalDialog({
            title : '添加档案文件',
            width :800,
            height :600,
            href : '@{archivesmanageradd()}',
            buttons : [ {
                text : '添加',
                handler : function() {
                    parent.$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
                    var f = parent.$.modalDialog.handler.find('#form');
                    f.submit();
                }
            }, {
                text : '关闭',
                handler : function() {
                    parent.$.modalDialog.handler.dialog('close');
                }
            }]
        });
    }

    function deleteFun(id) {
        var rows= dataGrid.datagrid('getRows');
        if (id == undefined) {//点击右键菜单才会触发这个
            rows = dataGrid.datagrid('getSelections');
            id = rows[0].id;
        } else {//点击操作里面的删除图标会触发这个
            dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
            id = rows[id].id;
        }
        parent.$.messager.confirm('询问', '您是否要删除当前档案？', function(b) {
            if (b) {
                var currentUserId = '123';/*当前登录用户的ID*/
                if (currentUserId != id) {
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....'
                    });
                    $.post('Personalaction/receivedelete', {
                        id : id
                    }, function(result) {
                        if (result) {
                            parent.$.messager.alert('提示', result, 'info');
                            dataGrid.datagrid('reload');
                        }
                        parent.$.messager.progress('close');
                    });
                } else {
                    parent.$.messager.show({
                        title : '提示',
                        msg : '不可以删除自己！'
                    });
                }
            }
        });
    }

    function searchFun() {
        dataGrid.datagrid('load', $.serializeObject($('#searchForm')));
    }
</script>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'north',title:'查询条件',border:false" style="height:60px; overflow: hidden;">
        <form id="searchForm">
            <table class="table table-hover table-condensed" >
                <tr>
                    <th>关键字</th>
                    <td><input name="keyword" placeholder="可以模糊查询关键字" class="span2" /></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <table id="archiver_datagrid"></table>
    </div>
</div>
<div id="toolbar" style="display: none;">
    *{<a onclick="addFun();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'pencil_add'">添加</a>}*
    <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" onclick="searchFun();">过滤条件</a>
</div>
</body>
</html>

