<script type="text/javascript">
    $(function() {
        parent.$.messager.progress('close');
        $('#form').form({
            url : '/useraction/roleadd',
            onSubmit : function() {
                console.info($("#pwd").val());
                parent.$.messager.progress({
                    title : '提示',
                    text : '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success : function(result) {
                parent.$.messager.progress('close');
//                result = $.parseJSON(result);
                if (result) {
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象
                    parent.$.modalDialog.handler.dialog('close');
                    parent.$.messager.alert('修改成功', result, 'success');
                } else {
                    parent.$.messager.alert('错误', result, 'error');
                }
            }
        });

        $("#employee").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#department").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id:'授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#permission").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#record").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#customer").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#person").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });

        $("#project").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });
        $("#query").combobox({
            valueField:'id',
            textField: 'value',
            panelHeight:'auto',
            value:"授权",
            data: [{
                id: '授权',
                value: '授权'
            },{
                id: '未授权',
                value: '未授权'
            }]
        });
    });

    // $("input[name='id']").val(getCookie('ob_id'));

</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <form id="form" method="post">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>角色名称</th>
                    <td><input name="rolename" type="text" value=""  class="easyui-validatebox span2" data-options="required:true"></td>
                    <th>员工管理</th>
                    <td><input id="employee" name="employee" class="combo"></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>部门管理</th>
                    <td><input id="department" name="department" ></td>
                    <th>权限管理</th>
                    <td><input id="permission" name="permission" ></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>档案管理</th>
                    <td><input id="record" name="record"></td>
                    <th>客户管理</th>
                    <td><input id="customer" name="customer"  class=></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>个人管理</th>
                    <td><input id="person" name="person" ></td>
                    <th>项目管理</th>
                    <td><input id="project" name="project"></td>
                </tr>
                <tr><th>&nbsp;</th></tr>
                <tr>
                    <th>查询统计</th>
                    <td><input id="query" name="query" ></td>
                </tr>
            </table>
        </form>
    </div>
</div>