<script type="text/javascript" charset="utf-8">
    /**
     * @author 高寒
     *
     * @requires jQuery,EasyUI
     *
     * 更换EasyUI主题的方法
     *
     * @param themeName
     *            主题名称
     */


//    $(".west_tree").click(function(){
//        //alert($(this).html());
//
//    });

    $(function(){
        var data_employee = [{
            "id":1,
            "text":"人事档案",
            "state":"open",
            "children":[{
                "id":11,
                "text":"人员信息",
                "attributes":{
                    url:"/employee"
                }
//            },{
//                "id":12,
//                "text":"档案管理",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":13,
//                "text":"档案查询",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":14,
//                "text":"档案报表",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":15,
//                "text":"人员调动",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":16,
//                "text":"批量修改",
//                "attributes":{
//                    url:"/usermanager"
//                }
            }]
        },{
            "id":2,
            "text":"人事基础设置",
            "state":"open",
            "children":[{
                "id":21,
                "text":"人事权限设置",
                "attributes":{
                    url:"/employeepermission"
                }
            }]
        }];
        var data_department =[{
            "id": 1,
            "text": "组织机构",
            "state": "open",
            "children": [{
                "id": 11,
                "text": "机构信息",
                "attributes":{
                    url:"/organization"
                }
            },{
                "id": 12,
                "text": "部门信息",
                "attributes":{
                    url:"/organizationdepart"
                }
            },{
                "id": 12,
                "text": "职位信息",
                "attributes":{
                    url:"/position"
                }
//            },{
//                "id": 12,
//                "text": "架构一栏",
//                "attributes":{
//                    url:"/usermanager"
//                }
            }]
        }];
        var data_competence =[
            {
                "id": 1,
                "text": "用户管理",
                "attributes":{
                    url:"/usermanager"
                }
            },{
                "id": 2,
                "text": "角色管理",
                "attributes":{
                    url:"/userrole"
                }
            }
//           , {
//                "id": 3,
//                "text": "资源管理",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            }
        ];
        var data_record =[{
                "id": 1,
                "text": "公共文档管理",
                "attributes":{
                    url:"/archivesmanager"
                }
//            },{
//                "id": 2,
//                "text": "案卷管理",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id": 3,
//                "text": "类别管理",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id": 4,
//                "text": "档案设置",
//                "attributes":{
//                    url:"/usermanager"
//                  }
//            },{
//                "id": 5,
//                "text": "基础设置",
//                "attributes":{
//                    url:"/usermanager"
//                  }
//            },{
//                "id": 6,
//                "text": "借阅管理",
//                "attributes":{
//                    url:"/usermanager"
//                }
            }
        ];
        var data_relations = [{
            "id":1,
            "text":"客户管理",
            "state":"open",
            "children":[{
                "id":11,
                "text":"新增客户",
                "attributes":{
                    url:"/relationsadd"
                }
            },{
                "id":12,
                "text":"我的客户",
                "attributes":{
                    url:"/relationsmy"
                }
//            },{
//                "id":13,
//                "text":"公共客户",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":14,
//                "text":"我的收藏",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":15,
//                "text":"共享客户",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":16,
//                "text":"客户分派",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":17,
//                "text":"客户分析",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            }]
//        },{
//            "id":2,
//            "text":"客户设置",
//            "state":"open",
//            "children":[{
//                "id":21,
//                "text":"客户数据",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":22,
//                "text":"客户权限",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":23,
//                "text":"数据整理",
//                "attributes":{
//                    url:"/usermanager"
//                }
            }]
        }];
        var data_personal = [{
            "id":1,
            "text":"个人文件管理",
            "state":"open",
            "children":[{
                "id":12,
                "text":"收到文件",
                "attributes":{
                    url:"/receivefiles"
                }
             },{
                "id":22,
                "text":"发送文件",
                "attributes":{
                    url:"/sendfiles"
                }
//            },{
//                "id":23,
//                "text":"发件箱",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":24,
//                "text":"草稿箱",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":25,
//                "text":"已删除",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":26,
//                "text":"归档文件",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id":27,
//                "text":"邮箱账号",
//                "attributes":{
//                    url:"/usermanager"
//                }
            }]
        },{
            "id":3,
            "text":"个人设置",
            "state":"open",
            "children":[{
                "id":31,
                "text":"个人信息",
                "attributes":{
                    url:"/personalinfo"
                }
            },{
                "id":32,
                "text":"登录日志",
                "attributes":{
                    url:"/logging"
                }
            },{
                "id":33,
                "text":"修改密码",
                "attributes":{
                    url:"/editpwd"
                }
            }]
        }];
        var data_project = [{
                "id": 1,
                "text": "新增项目",
                "state": "open",
                "attributes":{
                    url:"/projectadd"
                }
            },{
                "id": 2,
                "text": "项目管理",
                "attributes":{
                    url:"/projectmanager"
                }
//            },{
//                "id": 3,
//                "text": "项目一览",
//                "attributes":{
//                    url:"/usermanager"
//                }
//            },{
//                "id": 4,
//                "text": "项目统计",
//                "attributes":{
//                    url:"/usermanager"
//                }
        }];
//        var data_statistic = [{}];
        $('#_employee_tree').tree({
            data:data_employee,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },

            onBeforeLoad : function(node, param) {
                if (data_employee) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_department_tree').tree({
            data:data_department,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_department) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_competence_tree').tree({
            data:data_competence,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_competence) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_record_tree').tree({
            data:data_record,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_record) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_relations_tree').tree({
            data:data_relations,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_relations) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_personal_tree').tree({
            data:data_personal,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_personal) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
        $('#_project_tree').tree({
            data:data_project,
            lines:"true",
            onClick: function(node){
                if (node.attributes && node.attributes.url) {
                    var url;
                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
                        url =node.attributes.url;
                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
                            parent.$.messager.progress({
                                title : '提示',
                                text : '数据处理中，请稍后....',
                                interval:100
                            });
                        }
                    } else {/*打开跨域资源*/
                        url = node.attributes.url;
                    }
                    addTab({
                        url : url,
                        title : node.text,
                        iconCls : node.iconCls
                    });
                }
            },
            onBeforeLoad : function(node, param) {
                if (data_project) {//只有刷新页面才会执行这个方法
                    parent.$.messager.progress({
                        title : '提示',
                        text : '数据处理中，请稍后....',
                        interval:100
                    });
                }
            },
            onLoadSuccess : function(node, data) {
                parent.$.messager.progress('close');
            }
        });
//        $('#_statistics_tree').tree({
//            data:data_statistics,
//            lines:"true",
//            onClick: function(node){
//                if (node.attributes && node.attributes.url) {
//                    var url;
//                    if (node.attributes.url.indexOf('/') == 0) {/*如果url第一位字符是"/"，那么代表打开的是本地的资源*/
//                        url =node.attributes.url;
//                        if (url.indexOf('/druidController') == -1) {/*如果不是druid相关的控制器连接，那么进行遮罩层屏蔽*/
//                            parent.$.messager.progress({
//                                title : '提示',
//                                text : '数据处理中，请稍后....',
//                                interval:100
//                            });
//                        }
//                    } else {/*打开跨域资源*/
//                        url = node.attributes.url;
//                    }
//                    addTab({
//                        url : url,
//                        title : node.text,
//                        iconCls : node.iconCls
//                    });
//                }
//            },
//            onBeforeLoad : function(node, param) {
//                if (data_statistics) {//只有刷新页面才会执行这个方法
//                    parent.$.messager.progress({
//                        title : '提示',
//                        text : '数据处理中，请稍后....',
//                        interval:100
//                    });
//                }
//            },
//            onLoadSuccess : function(node, data) {
//                parent.$.messager.progress('close');
//            }
//        });
    });

    function controlTree(){}
    function addTab(params){
        var iframe = '<iframe src="' + params.url + '" style="border:0;width:100%;height:98%;"></iframe>';

        var t = centerTabs;
        var opts = {
            title : params.title,
            closable : true,
            iconCls : params.iconCls,
            content : iframe,
            border : false,
            fit : true
        };
        if (t.tabs('exists', opts.title)) {
            t.tabs('select', opts.title);
            parent.$.messager.progress('close');
        } else {
            t.tabs('add', opts);
        }
    }
</script>

<div id="index_accordion" class="easyui-accordion" data-options="fit:true,border:false" >
    #{if session.get("employeeaction") == "授权"}
        <div title="员工管理" data-options="iconCls:'icon-reload',selected:true">
            <ul id="_employee_tree" class="west_tree">
            </ul>
        </div>
    #{/if}
    #{if session.get("departmentaction") == "授权"}
    <div title="部门管理" data-options="iconCls:'icon-reload'">
        <ul id="_department_tree"  class="west_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("useraction") == "授权"}
    <div title="用户管理" data-options="iconCls:'icon-reload'">
        <ul id="_competence_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("recordaction") == "授权"}
    <div title="档案管理" data-options="iconCls:'icon-reload'">
        <ul id="_record_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("customeraction") == "授权"}
    <div title="客户关系管理" data-options="iconCls:'icon-reload'">
        <ul id="_relations_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("personaction") == "授权"}
    <div title="个人管理" data-options="iconCls:'icon-reload'">
        <ul id="_personal_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("projectaction") == "授权"}
    <div title="项目管理" data-options="iconCls:'icon-reload'">
        <ul id="_project_tree">
        </ul>
    </div>
    #{/if}
    #{if session.get("queryaction") == "授权"}
    <div title="查询统计" data-options="iconCls:'icon-reload'">
        <ul id="_statistics_tree"></ul>
    </div>
    #{/if}
</div>